{% extends "layout.html" %}

{% set title = "Water abstraction licence" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">


    <div class="phase-banner-alpha">
      <p>
      <strong class="phase-tag">ALPHA</strong>
    <span>This is an Alpha prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
            </div>
    <nav>
    <div class="breadcrumbs">
        <ol role="breadcrumbs">
          <li><a href="#">Your services</a></li>
          <li><a href="/v7c/licences">Abstraction licences</a></li>
          <li><a href="/v7c/online_licence?wid={{ pNumber }}">Licence {{ pData.LicenceSerialNo }}</a></li>
          <li><a href="/v7c/online_licence/conditions/cessation?wid={{ pNumber }}">Maximum quantities</a></li>

 <a href="/v7c/signin" class="sign-out2">Sign out</a>   </ol>   </nav>
  </div>
<a href="/v7c/licences" class="link-back" onclick="history.back()">Back</a>

<div class="grid-row">
  <div class="column-two-thirds">

    <form action="/conditionsv1ab" method="get" class="form">

      <h1 class="heading-large">
        Water abstraction maximum quanity for cress growing on licence xxxx
      </h1>
<div class="panel panel-border-wide">This is the maximum amount you are licenced to abstract on this licence for this purpose across all of your permitted abstraction points. </p>
  <p>Note that you may not be able to abstract up to this amount if you are also abstracting for other purposes.</p>
  <p> You must never exceed your licences total maximum quantities.</div></br>

    <table>
      <thead>
        <tr>
          <th scope="col">Time metric for abstraction</th>
          <th class="numeric" scope="col">Amount in cubic metres</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Per hour</td>
          <td class="numeric">14.4</td>
        </tr>
        <tr>
          <td>Per day</td>
          <td class="numeric">200</td>
        </tr>
        <tr>
          <td>Per year</td>
          <td class="numeric">10,000</td>
        </tr>

      </tbody>
    </table>

</br></br>




      <div class="form-group">
        <input type="submit" class="button" value="View this allowance by point">
      </div>

    </form>

  </div>
</div>


</main>

{% endblock %}
