{% extends "layout.html" %}

{% set title = "Water abstraction licence" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">


    <div class="phase-banner-alpha">
      <p>
      <strong class="phase-tag">ALPHA</strong>
    <span>This is an Alpha prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
            </div>
    <nav>
    <div class="breadcrumbs">
        <ol role="breadcrumbs">
          <li><a href="#">Your services</a></li>
          <li><a href="/v7c/licences">Abstraction licences</a></li>
          <li><a href="/v7c/online_licence?wid={{ pNumber }}">Licence {{ pData.LicenceSerialNo }}</a></li>
          <li><a href="/v7c/online_licence/conditions/cessation?wid={{ pNumber }}">Maximum quantities</a></li>

 <a href="/v7c/signin" class="sign-out2">Sign out</a>   </ol>   </nav>
  </div>
<a href="/v7c/licences" class="link-back" onclick="history.go(-1)">Back</a>

<div class="grid-row">
  <div class="column-two-thirds">

    <form action="/conditionsv1a" method="get" class="form">

      <h1 class="heading-xlarge">
        Find out how much you can abstract
      </h1>

      <h2 class="heading-medium">
        View maximum abstraction amounts by:
      </h2>
</br>
      <div class="form-group">
        <fieldset class="inline">

          <legend class="visuallyhidden">Are you 18 or over?</legend>

          <div class="multiple-choice">
            <input id="over18True" type="radio" name="over18" value="true">
            <label for="over18True">Purpose</label>
          </div>

          <div class="multiple-choice">
            <input id="over18False" type="radio" name="over18" value="false">
            <label for="over18False">Point</label>
          </div>

        </fieldset>
      </div>

      <div class="form-group">
        <input type="submit" class="button" value="Continue">
      </div>

    </form>

  </div>
</div>


</main>

{% endblock %}
