{% extends "layout.html" %}

{% set title = "Water abstraction licence" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">


    <div class="phase-banner-alpha">
      <p>
      <strong class="phase-tag">ALPHA</strong>
    <span>This is an Alpha prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
            </div>
    <nav>
    <div class="breadcrumbs">
        <ol role="breadcrumbs">
          <li><a href="#">Your services</a></li>
          <li><a href="/v7c/licences">Abstraction licences</a></li>
          <li><a href="/v7c/online_licence?wid={{ pNumber }}">Licence {{ pData.LicenceSerialNo }}</a></li>
          <li><a href="/v7c/online_licence/conditions/cessation?wid={{ pNumber }}">Maximum quantities</a></li>

 <a href="/v7c/signin" class="sign-out2">Sign out</a>   </ol>   </nav>
  </div>
<a href="/v7c/licences" class="link-back" onclick="history.go(-1)">Back</a>

<div class="grid-row">
  <div class="column-two-thirds">



      <h1 class="heading-xlarge">
        Choose an abstraction purpose
      </h1>



        <h1 class="heading-medium">
          Choose an abstraction purpose from the list below:
        </h1>


      <div class="multiple-choice">
        <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
        <label for="radio-1">Irrigation</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-2" type="radio" name="radio-group" value="Isle of Man or the Channel Islands">
        <label for="radio-2">Cress growing</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-3" type="radio" name="radio-group" value="I am a British citizen living abroad">
        <label for="radio-3">Private water supply</label>

</br></br></br>
</div>
</div></div>

<div class="grid-row">
    <div class="column-two-thirds">
        <a class="button" type="submit" value="continue" aria-disabled="true" href="/conditionsv1a" role="button">Continue</a>

      </div>
      </div>


</main>

{% endblock %}
